@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&display=swap');

:root{
    --container-width: 1270px;
    --container-padding: 15px;
}

body{
    background-color: rgb(46, 46, 46);
}


.none{
    display: none !important;
}

.container{
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-left{
    padding-left: calc(( 100% - var(--container-width) ) / 2 + var(--container-padding));
}
.container-right{
    padding-right: calc(( 100% - var(--container-width) ) / 2 + var(--container-padding));
}
.container_row{
    display: flex;
    column-gap: 100px;
    align-items: center;
    justify-content: center;
}



.block{
    height: 200px;
    background-color: blueviolet;
}

/* HEADER */

.header{
    min-height: 600px;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    background:
    linear-gradient(217deg, rgba(65, 30, 30, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(44, 33, 51, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(30, 30, 44, 0.8), rgba(0,0,255,0) 70.71%);
}
.header a{
    color: rgb(194, 194, 194);
}

.header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url("../img/header/frame.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header_top
{
    margin-bottom: 40px;
}
.header_row{
display: flex;
}
.header_content{
    max-width: 592px;
}


.header_img{
    position: relative;

}

.header_img img{
    position: absolute;
    top: 25px;
    left: 150px;
    max-width: unset;
    width: 377px;
    height: 500px;
    pointer-events: none;
}

/* NAV */

.nav{
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav_list{
display: flex;
column-gap: 80px;
font-weight: 700;
}

.nav_list a{
    position: relative;
}

.nav_list a.active::after,
.nav_list a:hover::after{
content: "";
position: absolute;
left: 0;
right: 0;
bottom: -4px;
display: block;
/*width: 20px;*/
height: 2px;
background-color: rgba(255, 255, 255, 0.815);
border-radius: 3%;
}
.nav_login{
    display: flex;
    column-gap: 20px;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
}

/* LOGO */
.logo{
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
}

/* BUTTON */
.login_btn{
    display: inline-block;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 500;
    background: radial-gradient(rgba(240, 201, 73, 0.555) 0,5%, rgba(0, 0, 0, 0.438));
    background-repeat: no-repeat;
    border-radius: 100px;

}
.login_btn:hover{
    color: rgb(236, 209, 120);
    transition: color 0.2s ease-in;
}
.login_btn:active{
    position: relative;
    bottom: 2px;
}
.slider_btn{
position: relative;    
top: 50%;
    transform: translateY(-50%);
    z-index: 9;
display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(48, 18, 22);
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.slider_btn-prev{
    position: absolute;
    left: 5px;
    padding-left: 8px;
    justify-content: flex-start;
}
.slider_btn-next{
    position: absolute;
    right: -5px;
    padding-right: 8px;
    justify-content: flex-end;
}

/* HEADER CONTENT */
.header_badge{
margin-bottom: 20px;
display: inline-block;
font-size: 20px;
font-family: 'Bodoni Moda', serif;
font-weight: 600;

background: rgba(255, 255, 255, 0.336);
border-radius: 15px;
padding: 14px 20px;
}
.header_title{
    margin-bottom: 110px;
    font-size: 50px;
    font-family: monospace;
    font-weight: 500;
}
.header_about{
margin-bottom: 10px;
    font-family: monospace;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.527);
}
.header_btn{
    font-family: monospace;
    font-weight: 500;
    color: black;
    display: inline-block;
    padding: 3px 15px;
    background-color: rgba(0, 0, 0, 0.226);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.header_btn:hover{
    color: rgb(0, 0, 0);
    transition: color 0.2s ease-in;
}
.header_btn:active{
    position: relative;
    top: 1px;
}

/* description */

.description{
padding: 60px 0 100px;
background-image: url("../img/header/cloud.png");
background-repeat: no-repeat;
background-size:contain;

}
.description_row{
display: flex;
    column-gap: 50px;
}
.description_text{
max-width: 400px;
font-family: monospace;
font-weight: 700;
color: black;
text-shadow: 1px 1px 2px rgba(122, 3, 3, 0.212);
}
.description_slider{
width: 1500px;
overflow-x: hidden;
overflow-y: hidden;
}

/* SLIDER */

.slider{
position: relative;
opacity: 100%;
height: 300px;
}
.slider_img{
    margin-top: 25px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    opacity: 40%;
    transition: 0.5s ease-in;
}
.slider .center .slider_img{
    margin-top: 0;
    width: 420px;
    height: 300px;
    opacity: 100%;
    border-radius: 15px;
}

/* FOOTER */
.footer_container{
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.footer_img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* what */
.what{
    padding-top: 200px;
    display: flex;
    column-gap: 50px;
    align-items: center;
    color: white;
    margin-left: 15%;
}

/* POPUP */

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    top: 0;
    left: 0;
    border-radius: 15px;
    color: white;
    opacity: 0%;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.2s ease-in;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup:target .popup_content{
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup_body{
    min-height: 50%;
    display: flex;
    align-items: center;
   justify-content: center; 
   padding: 10px 30px;
}
.popup_content{
    position: relative;
    background-color: black;
    color: brown;
    border-radius: 15px;
    padding: 30px;
    max-width: 500px;
    opacity: 0;
    transition: all 0.5s ease-in;
    transform: perspective(600px) translate(0px, -100%) rotateX(15deg);

}
.popup_close{
position: absolute;
right: 10px;
top: 5px;
font-weight: 700;
color: red;
text-decoration: none;
}
.popup_close:active{
    color: greenyellow;
    }
    .popup_close:hover{
        color: rgb(87, 20, 20);
        }

.popup_title{
    padding-top: 10px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    color: white;
}
.popup_row{
    display: flex;
    column-gap: 50px;    
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}
.popup_text{
    padding-top: 30px;
    font-family: monospace;
    font-weight: 700;
    color: white;
}
.popup_close_area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* fix_top */
.fix_top{
    opacity: 0;
    position:fixed;
    top: 0;
    left: 0;
}

/* charecters */

.charecters{
padding-top: 50px;
text-align: center;
font-family: 'Bodoni Moda', serif;
font-weight: 600;
}
.charecters_img{
    width: 200px;
}

.char_a{
    color: white;
    opacity: 20%;
    transition: all 0.2s ease-in;
}

.char_a:active{
    color: black;
}
.char_a:hover{
    color: white;
    opacity: 1;
}

/* login_form */

.login_form{
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 3px;
    padding:10px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}
.login_form_btn{
    background-color: rgb(0, 0, 0);
    color: rgb(245, 135, 84);
    padding: 5px;
    margin-left: 20%;
    margin-top: 5px;
    font-family: 'Bodoni Moda', serif;
font-weight: 500;
}
.login_form_btn:hover{
    color: rgb(236, 209, 120);
    font-weight: 700;
    transition: color 0.2s ease-in;
}
.login_form_btn:active{
    position: relative;
    bottom: 2px;
}